@import url(../components/prism/prism.css);
/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 1, sass/_presentation.scss */
* { box-sizing: border-box; -webkit-font-smoothing: antialiased; font-smoothing: antialiased; margin: 0; padding: 0; }

/* line 9, sass/_presentation.scss */
body { overflow-x: hidden; font-family: Arial, sans-serif; font-size: 3.5vh; color: #606060; }

/* line 16, sass/_presentation.scss */
h1, h2, h3, h4 { text-align: center; }

/* line 20, sass/_presentation.scss */
h1 { font-size: 4.2rem; font-family: Roboto Slab; font-weight: 400; }

/* line 25, sass/_presentation.scss */
h2 { font-size: 4rem; font-family: Roboto Slab; font-weight: normal; counter-increment: subjectCounter; }
/* line 31, sass/_presentation.scss */
h2:before { content: counter(subjectCounter); font-size: 8rem; display: block; }

/* line 38, sass/_presentation.scss */
h3 { font-family: Roboto Slab; font-weight: 400; font-size: 2.8rem; margin: 0.5em 0; }

/* line 44, sass/_presentation.scss */
strong { font-weight: 700; }

/* line 47, sass/_presentation.scss */
.line-through { position: relative; }
/* line 50, sass/_presentation.scss */
.line-through:after { position: absolute; top: 56%; left: 0; width: 100%; content: ' '; border-bottom: 4px solid white; }

/* line 60, sass/_presentation.scss */
p { font-weight: 300; text-align: center; }

/* line 64, sass/_presentation.scss */
ul { font-weight: 300; list-style-position: inside; padding: 1rem; }

/* line 70, sass/_presentation.scss */
a { -webkit-transition: color 1s ease; -moz-transition: color 1s ease; -ms-transition: color 1s ease; -o-transition: color 1s ease; transition: color 1s ease; color: #a0a0a0; text-decoration: none; }

/* line 80, sass/_presentation.scss */
article { -webkit-perspective: 600px; -moz-perspective: 600px; -ms-perspective: 600px; -o-perspective: 600px; perspective: 600px; position: absolute; top: 0; right: 0; left: 0; bottom: 0; font-weight: 100; color: white; counter-reset: subjectCounter; }

/* line 96, sass/_presentation.scss */
section { -webkit-transform: none; -moz-transform: none; -ms-transform: none; -o-transform: none; transform: none; background: #c0c0c0; border-radius: 30px; width: 80vw; height: 80vh; position: absolute; top: 50%; left: 50%; margin-left: -40vw; margin-top: -40vh; opacity: 0; font-size: 6vh; display: table; }

/* line 116, sass/_presentation.scss */
.centered { padding: 4% 6%; display: table-cell; vertical-align: middle; text-align: center; }

/* line 123, sass/_presentation.scss */
pre { display: block; white-space: pre-wrap; font-family: Consolas; tab-size: 4; background: rgba(255, 255, 255, 0.92); color: rgba(0, 0, 0, 0.86); padding: 1rem; border-radius: 11px; margin: 2rem 1rem; font-size: 4.6vh; }

/* line 136, sass/_presentation.scss */
pre code[class*="language-"] { white-space: pre-wrap; display: block; }

/* line 141, sass/_presentation.scss */
footer { background: white; position: absolute; bottom: 0; left: 0; right: 0; height: 60px; font-size: 0.8em; }

/* line 151, sass/_presentation.scss */
footer img { border: 0; border-radius: 4px; float: left; width: 30px; height: 30px; margin: 15px; }

/* line 160, sass/_presentation.scss */
footer p { padding-top: 24px; }

/* line 164, sass/_presentation.scss */
footer a { font-weight: bold; }

/* line 169, sass/_presentation.scss */
body, section.bespoke-slide { -webkit-transition: -webkit-transform 0.7s ease, opacity 0.7s ease, background-color 0.7s ease; -moz-transition: -moz-transform 0.7s ease, opacity 0.7s ease, background-color 0.7s ease; -ms-transition: -ms-transform 0.7s ease, opacity 0.7s ease, background-color 0.7s ease; -o-transition: -o-transform 0.7s ease, opacity 0.7s ease, background-color 0.7s ease; transition: transform 0.7s ease, opacity 0.7s ease, background-color 0.7s ease; }

/* line 176, sass/_presentation.scss */
section.bespoke-active { opacity: 1; z-index: 1; }

/* line 183, sass/_presentation.scss */
.intro .by { font-size: 0.8em; font-weight: 300; margin: 1.1em 0 0.8em; }
/* line 189, sass/_presentation.scss */
.intro .author { font-size: 1.3em; font-weight: 300; }
