* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	font-family: Arial, sans-serif;
	font-size: 3.5vh;
	color: #606060;
}

h1, h2, h3, h4{
	text-align: center;
}

h1{
	font-size: 4.2rem;
	font-family: Roboto Slab;
	font-weight: 400;
}
h2{
	font-size: 4rem;
	font-family: Roboto Slab;
	font-weight: normal;
	counter-increment: subjectCounter;

	&:before{
		content: counter(subjectCounter);
		font-size: 8rem;
		display: block;

	}
}
h3{
	font-family: Roboto Slab;
	font-weight: 400;
	font-size: 2.8rem;
	margin: 0.5em 0;
}
strong{
	font-weight: 700;
}
i{
	font-style: italic;
}
figure{
	text-align: left;
	display: block;
	border-left: 10px solid rgba(0,0,0,0.2);
	padding: 0.2em  0.2em 0.2em 1em;
	margin-left: 1em;
	font-weight: 300;
	font-size: 0.9em;

	a{
		color: rgba(255,255,255,0.8) !important;
		display: block;
		text-align: right;
		font-style: italic;
		margin: 1em 0 0;

		&:before, &:after{
			content: ' - '
		}
	}
}
.line-through{
	position: relative;

	&:after{
		position: absolute;
		top: 56%;
		left: 0;
		width: 100%;
		content: ' ';
		border-bottom: 4px solid white;
	}
}

p{
	font-weight: 300;
	text-align: center;
	margin-bottom: 1em;
}
ul{
	font-weight: 300;
	list-style-position: inside;
	padding: 1rem;
}

a {
	-webkit-transition: color 1s ease;
	-moz-transition: color 1s ease;
	-ms-transition: color 1s ease;
	-o-transition: color 1s ease;
	transition: color 1s ease;
	color: #a0a0a0;
	text-decoration: none;
}

article {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	font-weight: 100;
	color: white;
	counter-reset: subjectCounter;
}

section {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	background: #c0c0c0;
	border-radius: 30px;
	width: 80vw;
	height: 80vh;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -40vw;
	margin-top: -40vh;
	opacity: 0;
	font-size: 6vh;
	display: table;
}

.centered{
	padding: 4% 6%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

pre{
	display: block;
    white-space: pre-wrap;
    font-family: Consolas;
    tab-size: 4;
    background: rgba(255, 255, 255, 0.92);
    color: rgba(0, 0, 0, 0.86);
    padding: 1rem;
    border-radius: 11px;
    margin: 2rem 1rem;
    font-size: 4.6vh; 
}

pre code[class*="language-"]{
    white-space: pre-wrap;
    display: block;
}

footer {
	background: white;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;
	font-size: 0.8em;
	display: none;
}

footer img {
	border: 0;
	border-radius: 4px;
	float: left;
	width: 30px;
	height: 30px;
	margin: 15px;
}

footer p {
	padding-top: 24px;
}

footer a {
	font-weight: bold;
}

body,
section.bespoke-slide {
	-webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
	transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}
section.bespoke-active {
	opacity: 1;
	z-index: 1;
}


.intro{
	.by{
		font-size: 0.8em;
		font-weight: 300;
		margin: 1.1em 0 0.8em;
	}

	.author{
		font-size: 1.3em;
		font-weight: 300;
	}
}

